<form [formGroup]="studentForm" (submit)="onSubmit()" class="row g-3 m-4">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Nombre</label>
        <input 
        type="text" 
        class="form-control" 
        id="inputName"
        formControlName="name"
        >
    </div>
    <div class="col-md-6">
        <label for="inputLastName" class="form-label">Apellido</label>
        <input 
        type="text" 
        class="form-control" 
        id="inputLastName"
        formControlName="lastName"
        >
    </div>
    <div class="col-md-6">
        <label for="inputBirthDate" class="form-label">Fecha de Nacimiento</label>
        <input 
        type="text" 
        class="form-control" 
        id="inputBirthDate"
        formControlName="birthDate"
        >
    </div>

    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input 
      type="email" 
      class="form-control" 
      id="inputEmail"
      formControlName="email"
      [class.is-valid]="emailControl?.valid"
      [class.is-invalid]="emailControl?.touched && emailControl?.invalid"
      >
    </div>
    
    <div class="col-12">
        <label for="inputAdress" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" 
        placeholder="1234 Main St"
        formControlName="adreess"
        >
    </div>

    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword"
      formControlName="password"
      >
    </div>
    
    <div class="col-md-6">
        <label for="inputPasswordRepetir" class="form-label">Repetir Password</label>
        <input type="password" class="form-control" id="inputPasswordRepetir"
        formControlName="repeatPassword"
        >
    </div>
<!--     <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
<pre>{{studentForm.status}}</pre>
<pre>{{studentForm.value | json}}</pre>